
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
<a asp-action="Index" asp-controller="HomeClient" class="btn btn-primary">OK</a>

