@model BookOnlineShop.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="alert alert-light alert-elevate" role="alert">
        <div class="alert-icon"><i class="la la-folder kt-font-brand"></i></div>
        <div class="alert-text">
            Edit Category
        </div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Edit Category
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <a asp-action="Index" asp-area="admin" asp-controller="Products" class="btn btn-clean btn-icon-sm">
                        <i class="la la-long-arrow-left"></i>
                        Back
                    </a>
                    &nbsp;

                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <form asp-action="Edit" asp-area="admin" asp-controller="Products" asp- enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label">Product Name</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImage" class="control-label"> Product Image</label>
                    <input asp-for="ProductImage" class="form-control" />
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductCode" class="control-label"> Product Code</label>
                    <input asp-for="ProductCode" class="form-control" />
                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDescription" class="control-label">Product Description</label>
                    <input asp-for="ProductDescription" class="form-control" />
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="ProductContent" id="content" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishingTime" class="control-label"> Publishing Time</label>
                    <input asp-for="PublishingTime" class="form-control" />
                    <span asp-validation-for="PublishingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reprinttimes" class="control-label"></label>
                    <input asp-for="Reprinttimes" class="form-control" />
                    <span asp-validation-for="Reprinttimes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label">Category</label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Authors" class="control-label">Authors</label>-->
                    @*@Html.ListBox("SelectedCategor", (MultiSelectList)ViewBag.Roles, new { size = 8 }) *@
                    <select asp-for="SelectedAuthor" asp-items="ViewBag.Authors" class="custom-select mt-5 pt-3 ">
                    </select>
                </div> 
                <div class="form-group">
                    <label asp-for="Publishers" class="control-label">Publishers</label>-->
                    @*@Html.ListBox("SelectedCategor", (MultiSelectList)ViewBag.Roles, new { size = 8 }) *@
                    <select asp-for="SelectedPublisher" asp-items="ViewBag.Publishers" class="custom-select mt-5 pt-3 ">
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.custom-select').select2();
        });
    </script>
}